body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ------------------------------ atomic class ------------------------------ */

.h100p {
    height: 100%;
}

.bs20 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.oh {
    overflow: hidden;
}

.tr5 {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all .5s;
}

.dn {
    display: none;
}

/* ------------------------------ atomic class end ------------------------------ */

.bC {
    height: 100vh;
}

.C {
    position: absolute;
    /* 预留 header 高度 */
    top: 100px;
    bottom: 0;
    width: 100%;
}

/* ------------------------------ popup ------------------------------ */

.pC {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pp {
    position: absolute;
    /* 270px + 12px */
    bottom: -282px;
    right: 0;
    width: 640px;
    height: 270px;
    padding: 15px;
    background-color: #f7f7f7;
}

.pp.open {
    /* 270px + 12px */
    transform: translateY(-282px);
}

.pp button {
    /* #color gold */
    background-color: #bd9e58;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}

.pp .close {
    position: absolute;
    left: -12px;
    top: -12px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.pp .close img {
    vertical-align: -2px;
}

.p1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 310px;
    line-height: 52px;
    background-color: #bd9e58;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.p1.hide {
    opacity: 0;
}

.p2l,
.p2r {
    float: left;
    width: 50%;
    height: 100%;
}

.p2l {
    padding-top: 40px;
    background-color: #ffffff;
    text-align: center;
}

.p2l p {
    /* #color blue */
    color: #526483;
    margin-bottom: 20px;
}

.p2l .button {
    height: 36px;
    width: 160px;
}

.p2r img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ------------------------------ popup end ------------------------------ */

/* ------------------------------ menu list ------------------------------ */

.ml {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.ml.open1 {
    right: 320px;
}

.ml.open2 {
    right: 640px;
}

.tB {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 2px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.tB [alt="menu-button"] {
    vertical-align: -22px;
}

.mll {
    position: absolute;
    right: -320px;
    width: 320px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.7);
}

.mll:not(.mllf) {
    z-index: 1;
}

.mllf {
    padding: 0;
}

.mllf>div {
    z-index: 1;
    height: calc(100% + 60px);
    width: calc(100% + 60px);
    /* TODO */
    background-image: url(http://b3-q.mafengwo.net/s6/M00/11/72/wKgB4lMVcpmAQQlRAAGw8ilAe8M38.jpeg?im…nail%2F%211360x940r%2Fgravity%2FCenter%2Fcrop%2F%211360x940%2Fquality%2F90);
    background-size: auto 100%;
    background-position: top right;
    filter: blur(30px);
    margin: -30px;
}

.pnC {
    width: calc(100% + 18px);
}

.pn {
    width: calc(100% - 18px);
    height: 72px;
    border-radius: 2px;
    color: #526483;
    font-size: 16px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.pnt {
    font-weight: bold;
    font-size: 18px;
}

.pn>div {
    position: relative;
    line-height: 72px;
    cursor: pointer;
}

.pn>div:not(.pnt) {
    border-top: 2px solid #f0f3f3;
}

.pnt [alt="down-caret"] {
    position: absolute;
    right: 8px;
    top: 28px;
}

.pnt [alt="down-caret"].open {
    transform: rotate(-180deg);
}

.pn>div:not(.pnt) [alt="attraction"] {
    position: absolute;
    right: 0;
    top: 14px;
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 4px;
}

.mlr {
    position: absolute;
    right: -640px;
    width: 320px;
    background-color: #ffffff;
    color: #526483;
    overflow-x: hidden;
    overflow-y: auto;
}

.mlri {
    position: relative;
    width: calc(100% + 18px);
    padding-right: 18px;
}

.mlri>.close {
    z-index: 1;
    position: absolute;
    top: 18px;
    /* 18px + 18px */
    right: 36px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.mlri>.close img {
    vertical-align: -3px;
}

.mlrt {
    position: relative;
    height: 215px;
    background-size: cover;
}

.mlrtf {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, .45) 70%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, .85) 90%, rgba(255, 255, 255, .95) 95%, rgba(255, 255, 255, 1) 100%);
}

.mlrt>.bx {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 72px;
    margin-left: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #bdc0c0;
}

.bxi {
    float: left;
    position: relative;
    width: 50%;
    text-align: center;
}

.mlrt .bxi:not(:first-child)::before {
    content: '';
    position: absolute;
    height: 40px;
    top: 16px;
    left: 0;
    border-left: 1px solid #e2e5e7;
}

.bxi>div:first-child {
    line-height: 40px;
}

.bxi>div:first-child img {
    vertical-align: -5px;
}

.site-name {
    line-height: 62px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sdC {
    max-height: 80px;
    font-size: 12px;
    line-height: 1.33333333;
}

.sdC p {
    hyphens: auto;
}

.tg {
    line-height: 60px;
    text-align: center;
}

.tg a {
    font-size: 12px;
    color: #83bfec;
}

.mlrc,
.mlrb,
.mlrb2 {
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #e2e5e5;
}

.mlrc {
    border-top: none;
}

.mlrb {
    height: 112px;
    cursor: pointer;
}

.mlrb .bxi,
.mlrb2 .bxi {
    float: none;
    width: 100%;
}

.mlrb .bxi>div:first-child {
    line-height: 75px;
}

.mlrb .bxi>div:first-child img {
    vertical-align: -12px;
}

.mlrb2>.rl {
    line-height: 72px;
    text-align: center;
}

.mlrb2 .bxi>div:first-child {
    line-height: 1;
}

.mlrb2 .bxi>div:first-child img {
    height: 144px;
    width: 144px;
    border-radius: 50%;
}

.mlrb2 .bxi>span {
    line-height: 54px;
}

/* ------------------------------ menu list end ------------------------------ */

/* ------------------------------ map ------------------------------ */

.map {
    height: 100%;
    width: 100%;
}

.ol-control button:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 6px;
    content: '';
    width: calc(100% - 12px);
    border-top: 1px solid #f0f4f8;
}

.ol-feature-filter {
    top: 40%;
    left: 15px;
}

/* ------------------------------ map end ------------------------------ */
