@charset "UTF-8";
div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* 去掉点击时的蓝色背景和边框 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ------------------------------ atomic class ------------------------------ */

.h100p {
    height: 100%;
}

.bs20 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.oh {
    overflow: hidden;
}

.tr5 {
    /* 使用 translate3d 进行动画硬件加速, 会导致内部元素 position: fixed 表现得像 position: absolute */
    /* -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); */
    transition: all .5s;
}

.dn {
    display: none;
}

.CF {
    clear: both;
}

/* ------------------------------ atomic class end ------------------------------ */

.main-footer {
    display: none;
}

/* 覆盖 new-ui.css */

main.full {
    min-height: 0px !important;
}

.js-offset-top {
    height: 0;
}

.C {
    position: fixed;
    /* top 由 js 计算 */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 微软雅黑, sans-serif;
}

/* ------------------------------ popup ------------------------------ */

.pC {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pp {
    position: absolute;
    /* 270px + 12px */
    bottom: -282px;
    right: 0;
    width: 640px;
    height: 270px;
    padding: 15px;
    background-color: #f7f7f7;
}

.pp.open {
    /* 270px + 12px */
    transform: translateY(-282px);
}

.rese {
    display: inline-block;
    width: 160px;
    height: 36px;
    line-height: 35px;
    background-color: #bd9e58;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}

.clspp {
    position: absolute;
    left: -12px;
    top: -12px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #bd9e58;
    color: #ffffff;
    cursor: pointer;
}

.clspp img {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.p1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 310px;
    line-height: 52px;
    background-color: #bd9e58;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.p1.hide {
    opacity: 0;
}

.p2l,
.p2r {
    float: left;
    width: 50%;
    height: 100%;
}

.p2l {
    padding-top: 40px;
    background-color: #ffffff;
    text-align: center;
}

.p2l p {
    color: #526483;
    margin-bottom: 20px;
}

.p2r img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ------------------------------ popup end ------------------------------ */

/* ------------------------------ menu list ------------------------------ */

.ml {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
}

.ml.open1 {
    right: 320px;
}

.ml.open2 {
    right: 640px;
}

.tB {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 2px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.tBi {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background: url('../img/menu.svg');
}

.menu-open .tBi {
    background: 100% 100% no-repeat url('../img/close-2.svg');
}

.mll {
    position: absolute;
    right: -320px;
    width: 320px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(221, 239, 252, 0.7);
}

.mll:not(.mllf) {
    z-index: 3;
}

.pnC {
    width: 100%;
}

.pn {
    width: 100%;
    height: 74px;
    border-radius: 2px;
    color: #526483;
    font-size: 16px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.pnt {
    font-weight: bold;
    font-size: 18px;
}

.pn>div {
    position: relative;
    height: 74px;
    line-height: 73px;
    cursor: pointer;
}

.ln {
    position: relative;
    display: inline-block;
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pn>:not(.pnt) {
    border-top: 2px solid #f0f3f3;
}

.pn>:not(.pnt).active:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -15px;
    right: -15px;
    bottom: -2px;
    background-color: #f0f3f3;
}

.pnt [alt="down-caret"] {
    position: absolute;
    right: 8px;
    top: 28px;
}

.pnt [alt="down-caret"].open {
    transform: rotate(-180deg);
}

.pn>:not(.pnt) img {
    position: absolute;
    right: 0;
    top: 14px;
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 4px;
}

.mlr {
    position: absolute;
    right: -640px;
    width: 320px;
    background-color: #ffffff;
    color: #526483;
    overflow-x: hidden;
    overflow-y: auto;
}

.mlri {
    position: relative;
    width: 100%;
}

.mlri>.cls {
    z-index: 3;
    position: absolute;
    top: 18px;
    right: 18px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.mlri>.cls img {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.mlrt {
    position: relative;
    height: 215px;
    background-size: cover;
}

.mlrtf {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, .45) 70%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, .85) 90%, rgba(255, 255, 255, .95) 95%, rgba(255, 255, 255, 1) 100%);
}

.mlrt>.bx {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 72px;
    margin-left: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #bdc0c0;
}

.bxi {
    float: left;
    position: relative;
    width: 50%;
    text-align: center;
}

.mlrt .bxi:not(:first-child)::before {
    content: '';
    position: absolute;
    height: 40px;
    top: 16px;
    left: 0;
    border-left: 1px solid #e2e5e7;
}

.bxi>:first-child {
    line-height: 40px;
}

.bxi>:first-child img {
    vertical-align: -5px;
}

.opening-hours,
.site-location {
    font-size: 12px;
    color: #7d8595;
}

.site-name {
    line-height: 62px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sdC {
    max-height: 90px;
    font-size: 13px;
    line-height: 1.4;
}

.sdC p {
    hyphens: auto;
}

.tg {
    margin-top: 24px;
    line-height: 1;
    text-align: center;
}

.tgI {
    font-size: 12px;
    color: #83bfec;
    cursor: pointer;
}

.mlrc,
.mlrb,
.mlrb2 {
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #e2e5e5;
}

.mlrc {
    padding-bottom: 24px;
    border-top: none;
}

.mlrb {
    height: 112px;
    cursor: pointer;
}

.mlrb .bxi {
    float: none;
    width: 100%;
}

.mlrb .bxi>div {
    line-height: 75px;
}

.mlrb .bxi>div img {
    vertical-align: -12px;
}

.rl {
    line-height: 72px;
    text-align: center;
}

.lCi {
    text-align: center;
}

.lCiW {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.lCt {
    line-height: 54px;
}

/* ------------------------------ menu list end ------------------------------ */

/* ------------------------------ map ------------------------------ */

/* 滚动条 hack */

#map {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #a9cad8;
}

.ol-control>button:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 6px;
    content: '';
    width: calc(100% - 12px);
    border-top: 1px solid #f0f4f8;
}

.ol-feature-filter {
    top: 40%;
    left: 15px;
}

.ol-feature-filter>button>div:not(.tooltip) {
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

.filter-all-inner {
    background: url('../img/all.svg');
}

.ol-feature-filter>button.active .filter-all-inner {
    background: url('../img/all-gold.svg');
}

.filter-viewspot-inner {
    background: url('../img/door.svg');
}

.ol-feature-filter>button.active .filter-viewspot-inner {
    background: url('../img/door-gold.svg');
}

.filter-food-inner {
    background: url('../img/food.svg');
}

.ol-feature-filter>button.active .filter-food-inner {
    background: url('../img/food-gold.svg');
}

.filter-entertainment-inner {
    background: url('../img/star.svg');
}

.ol-feature-filter>button.active .filter-entertainment-inner {
    background: url('../img/star-gold.svg');
}

.filter-holiday-inner {
    background: url('../img/balloon.svg');
}

.ol-feature-filter>button.active .filter-holiday-inner {
    background: url('../img/balloon-gold.svg');
}

.ol-compass {
    color: #ced0d5;
    font-size: 33px;
    position: relative;
    top: -2px;
    transform-origin: 50% 70%;
}

/* ------------------------------ map end ------------------------------ */

/* ------------------------------ bootstrap tooltip ------------------------------ */

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    white-space: nowrap;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

/* ------------------------------ bootstrap tooltip end ------------------------------ */

/* ------------------------------ bootstrap popover ------------------------------ */

#map .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: auto;
    display: none;
    width: 345px;
    max-width: 345px;
    height: 100px;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 20px rgba(0, 0, 0, .11);
    line-break: auto;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    height: 100%;
    padding: 20px 24.5px 20px 23.5px;
}

.popover>.arrow,
.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover>.arrow {
    border-width: 11px;
}

.popover>.arrow:after {
    content: "";
    border-width: 10px;
}

.popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top: none;
    border-bottom-width: 0;
}

.popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

.popover.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
}

.popover.left>.arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}

/* ------------------------------ bootstrap popover end ------------------------------ */

/* ------------------------------ popover inner ------------------------------ */

.popup-link-container {
    display: block;
}

.popup-inner-img-container {
    float: left;
    width: 60px;
    height: 60px;
}

.popup-inner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.popup-inner-text-container {
    float: left;
    width: calc(100% - 93.5px);
    margin-top: 6.6px;
    margin-left: 17.5px;
    line-height: 1.2;
    color: #526483;
}

.popup-inner-text-title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 6.7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popup-inner-text-subtitle {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popup-inner-right-arrow {
    float: left;
    margin-top: 22px;
}

/* ------------------------------ popover inner end ------------------------------ */

/* ------------------------------ mobile ------------------------------ */

.p1M {
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 52px;
    font-size: 18px;
    background-color: #bd9e58;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.p1M,
.p1M:focus,
.p1M:active {
    color: #ffffff;
    text-decoration: none;
}

.fB,
.oML,
.MO,
.cBC {
    display: none;
}

.fBi {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -22px;
    background: 100% 100% no-repeat url('../img/filter.svg');
}

.oMLi {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -22px;
    background: 100% 100% no-repeat url('../img/menu.svg');
}

@media screen and (max-width:414px) {
    .tB,
    .ol-zoom,
    .ol-feature-filter,
    .p1 {
        display: none;
    }
    .p1M {
        display: block;
    }
    .menu-open .tBi {
        background: 100% 100% no-repeat url('../img/menu.svg');
    }
    .fB {
        display: block;
        position: fixed;
        right: 15px;
        bottom: 67px;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
    }
    .oML {
        display: block;
        position: fixed;
        right: 75px;
        bottom: 67px;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
    }
    .menu-open .oML,
    .menu-open .fB {
        display: none;
    }
    .MO {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 52px;
        z-index: 8;
        background: rgba(221, 239, 252, 0.7);
        padding-bottom: 88px;
        padding-right: 15px;
    }
    .MOI {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .MOLC {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        width: 100%;
    }
    .MOL {
        margin-top: 12px;
        cursor: pointer;
    }
    .MOLT {
        font-size: 15px;
        color: #bd9e58;
        vertical-align: 16px;
    }
    .MOLIC {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        background-color: #ffffff;
        text-align: center;
        margin-left: 11px;
    }
    .MOLIC.cMO {
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
    }
    .MOLIC img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto;
    }
    .mll {
        width: 100vw;
        right: -100vw;
        height: calc(100% - 52px);
    }
    .ml.open1 {
        right: 100vw;
    }
    .ml.open2 {
        right: 200vw;
    }
    .mlr {
        width: 100vw;
        right: -200vw;
        height: calc(100% - 52px);
    }
    .cBC {
        display: block;
        padding-bottom: 12px;
        overflow: auto;
    }
    .cBC>img {
        float: right;
        cursor: pointer;
    }
    #map .popover {
        width: calc(100vw - 30px);
    }
}

/* ------------------------------ mobile end ------------------------------ */

.ol-control button:hover {
    background: #f5f5f5;
}

.ol-zoom.ol-control button svg {
    fill: #ced0d5;
}

.ol-zoom.ol-control button:active svg {
    fill: #bd9e58;
}
